<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather WebApp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/logo.png" type="image/png">
</head>

<body>
    <div class="container">
        <div class="navber">
            <div class="leftNav">Weather App</div>
            <div class="rightNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="aboutRightSection">
                <img src="./images/guy.png" alt="">
            </div>
            <div class="leftSection">
                <p>Welcom to the Satyabal Pvt. Ltd.</p>
                <p>I AM A MERN STACK DEVELOPER AND A FREELANCER</p>
                <a href="/about"><button>About Me</button></a>
            </div>
        </div>
        <div class="footer">
            <p>©️ Copyright by 🎯 Satyabala Pvt. Ltd.</p>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>