* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation Style */

.navber {
  flex: 1;
  background-color: royalblue;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  width: 100%;
  align-items: center;
}

.leftNav {
  flex: 1;
  padding-left: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px antiquewhite;
}

.rightNav {
  flex: 1;
  text-align: center;
}

.rightNav ul li {
  padding-left: 5rem;
  display: inline;
  list-style: none;
  color: aliceblue;
}

.rightNav ul li a {
  color: aliceblue;
  text-decoration: none;
}

.rightNav ul li a:hover {
  color: aqua;
  text-decoration: underline;
}

/* Section Style */

.section {
  flex: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.leftSection p:first-child {
  font-size: 25px;
}

.leftSection p:nth-child(2) {
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.leftSection button {
  padding: 10px;
  background-color: aqua;
  border: none;
  box-shadow: 1px 2px 2px wheat;
  font-weight: bold;
}

.aboutRightSection img {
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 2px antiquewhite;
  padding-left: 20px;
}

/* Footer Style */

.footer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: antiquewhite;
}

/* Weather Section */

.weatherSection {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchSection {
  background-color: royalblue;
  padding: 1em 2em;
  border-radius: 10px;
}

.temp_form input {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
}

.tempSection {
  margin-top: 10px;
  background-color: royalblue;
  padding: 70px 125px;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

#cityName {
  padding-left: 1.5em;
}
